[tool.poetry]
name = "mistql"
version = "0.4.9"
description = "Python implementation of MistQL query language"
authors = ["Evin Sellin <evinism@gmail.com>"]

[tool.poetry.dependencies]
python = "^3.6.2"
lark = "^1.0.0"
typeguard = "^2.13.3"

[tool.poetry.dev-dependencies]
pytest = "^5.2"
black = {version = "^21.10b0", allow-prereleases = true}
toml = "^0.10.2"
mypy = "^0.942"
flake8 = "^4.0.1"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.urls]
issues = "https://github.com/evinism/mistql/issues"

[tool.poetry.scripts]
mqpy = "mistql.cli:main"
