[tool.poetry]
name = "mistql"
version = "0.4.11"
description = "Python implementation of MistQL query language"
authors = ["Evin Sellin <evinism@gmail.com>"]

[tool.poetry.dependencies]
python = "^3.6.2"
lark = "^1.0.0"
typeguard = "^2.13.3"
json-lines = "^0.5.0"

[tool.poetry.dev-dependencies]
pytest = [
  {version = "^5.2", python = "<3.7"},
  {version = "^6.0", python = ">3.6"}
]
black = {version = "^21.10b0", allow-prereleases = true}
toml = "^0.10.2"
mypy = "^0.942"
flake8 = "^4.0.1"

[[tool.mypy.overrides]]
module = "json_lines"
ignore_missing_imports = true

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.urls]
issues = "https://github.com/evinism/mistql/issues"

[tool.poetry.scripts]
mqpy = "mistql.cli:main"
