.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.prose {
  max-width: 700px;
  margin: 0 auto;
  padding: 2rem 0;
}


.tripdot {
  border: 0;
}

.tripdot::after {
  content: "⋅⋅⋅";
  font-size: 2rem;
  text-align: center;
  display: block;
}

.tada {
  padding: 2rem 0;
  background-color: var(--ifm-pre-background)
}